<footer class="page-footer mt-8">
    <div class="container auto-grid">
        <nav>
            <p class="h5">Find Us</p>
            Department of Psychology<br>
            The Chinese University of Hong Kong<br>
            Shatin, N.T.<br>
            Hong Kong SAR
            <p>{% include "socials.njk" %}</p>
        </nav>
        <div></div>
        <div></div>
        <div class="h1 weight-bold" style="display:flex;align-items:center;justify-content:center;">Teng Lab</div>
        {% include "copyright.njk" %}
    </div>
</footer>
