<a href="/" class="logo flex-shrink">
    <img
        src="https://i1.rgstatic.net/ii/profile.image/697917904015361-1543408003103_Q128/Xiangbin-Teng.jpg"
        width="50"
        height="50"
        alt="{{ meta.siteName }}"
    >
</a>
