---
layout: base
style: {
    member: "
        .member-layout {
            --container-size: 84ch;
            --container-padding-y: 3rem;
        }

        time {
            color: var(--color-text-muted);
        }
    "
}
---

<article class="member-layout container my-6">
    <div class="mb-8 md-mb-10">
        {% if title %}
            <h1 class="my-0">{{ title }}</h1>
        {% endif %}
    </div>

    <p style="text-align:center"><img src="/images/{{ avatar }}" width="60%"></p>

    {{ content | safe }}

    {%- if collections.members %}
        {%- set nextMember = collections.members | getNextCollectionItem(page) %}
        {%- set previousMember = collections.members | getPreviousCollectionItem(page) %}
        {%- if nextMember or previousMember %}
            <hr class="mt-12">
            <nav class="pagination">
                {%- if previousMember %}
                    <a href="{{ previousMember.url | url }}">Previous: {{ previousMember.data.title }}</a>
                {% endif %}
                {%- if nextMember %}
                    <a href="{{ nextMember.url | url }}" class="ms-auto">Next: {{ nextMember.data.title }}</a>
                {% endif %}
            </nav>
        {%- endif %}
    {%- endif %}
</article>
