---
layout: base
permalink: index.html
style: {
    home: "
    #page-hero {
        --height: 500px;
    }
    "
}
---

<div style="display:table-row;">
    <div style="display:table-cell; width:35vw;">
        <img src="/images/logo.jpg">
    </div>
    <div style="display:table-cell; height:35vw; width:65vw;">
        <img style="width:100%; height:100%" src="/images/team.jpg">
    </div>
</div>

<div class="container">
    <div class="h2" style="padding-top:5vh;">
        Our research: How do we understand speech and appreciate music?
    </div>
    <div style="padding-top:1vh; padding-bottom:3vh;">
        Rhythm unfolds in time and exists in our spoken language and music; It conveys meanings, entrains our body and our brain, and synchronizes and bonds us. Why do we have rhythms and what are they good for? And, how does our brain recognize and memorize rhythms? Our lab focuses on speech and music rhythm, prior knowledge and prediction, and dynamics in the brain and artificial network models.
    </div>
</div>
