---
layout: base
permalink: index.html
style: {
    home: "
    #page-hero {
        --height: 500px;
    }
    "
}
---

<div style="display:flex; width:100vw">
    <img style="max-width:50%; height:auto" src="/images/logo.jpg">
    <img style="max-width:50%; height:auto" src="/images/team.jpg">
</div>

<div class="container my-12" style="text-align:center">
    <div class="h2" style="width:50%; float:left">
        Our research
    </div>
    <div style="width:50%; float:right">
        How do we understand speech and appreciate music?
    </div>
</div>
