---
layout: "page"
title: "Life"
description: "Work hard, play hard."
permalink: "/life/"
eleventyNavigation:
    key: "Life"
    order: 5
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }",
}
---

{% renderTemplate "md" %}

Coming soon.

{% endrenderTemplate %}
