---
layout: "page"
title: "Life"
description: "See what's happening."
permalink: "/life/"
eleventyNavigation:
    key: "Life"
    order: 5
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }",
}
---

{% renderTemplate "md" %}

TBC

{% endrenderTemplate %}
