---
layout: "page"
title: "Publications"
description: "Browse our publications."
permalink: "/publications/"
eleventyNavigation:
    key: "Publications"
    order: 3
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }",
}
---

{% renderTemplate "md" %}

\* Lab trainees.

2023
---
Chen, X., Teng, X., Chen, H., Pan, Y., Geyer, P. (2024) Toward reliable signal decoding for electroencephalogram: A benchmark study to EEGNeX. *Biomedical Signal Processing and Control, 87*(Part B), 105475.
[See more](https://www.sciencedirect.com/science/article/pii/S1746809423009084)

2022
---

Chang, A., Teng, X., Assaneo, F., & Poeppel, D. (2022). Amplitude modulation perceptually distinguishes music and speech. *PsyArXiv*.
[Preprint](https://psyarxiv.com/juzrh/)

2021
---

Teng, X., & Zhang, R-Y. (2021) Sequential Temporal Anticipation Characterized by Neural Power Modulation and in Recurrent Neural Network. *bioRxiv*.
[Preprint](https://www.biorxiv.org/content/10.1101/2021.10.04.463033v1)

Teng, X., Larrouy-Maestri, P., Poeppel, D. Segmenting and Predicting Musical Phrase Structure Exploits Neural Gain Modulation and Phase Precession. *bioRxiv*.
[Preprint](https://www.biorxiv.org/content/10.1101/2021.07.15.452556v1)

2020
---

Teng, X., Meng, Q., & Poeppel, D. (2020). Modulation Spectra Capture EEG Responses to Speech Signals and Drive Distinct Temporal Response Functions. Eneuro, ENEURO.0399–20.2020. **- 1/f Modulation Spectra Part 2**
[PDF](https://www.eneuro.org/content/8/1/ENEURO.0399-20.2020) | [OSF](https://osf.io/yp4k3/)

Teng, X., Ma, M., Yang, J., Blohm, S., Cai, Q., & Tian, X. (2020). Constrained Structure of Ancient Chinese Poetry Facilitates Speech Content Grouping. *Current Biology*.
[Demo](https://ray306.github.io/neural_poem/) | [OSF](https://osf.io/jg3xh/) | [See more](http://doi.org/10.1016/j.cub.2020.01.059)

Poeppel, D., & Teng, X. (2020). 2.06 - Entrainment in Human Auditory Cortex: Mechanism and Functions. In B. Fritzsch (Ed.), The Senses: A Comprehensive Reference (Second Edition) (pp. 63–76). Oxford: Elsevier.
[See more](https://www.sciencedirect.com/science/article/pii/B978012805408600018X?via%3Dihub)

Shrestha M, Teng X, Lee S, Noeth U, Poeppel D, Deichmann R (2020). Functional MRI of the Auditory Cortex: Comparison of Different Sequences to investigate Speech and Amplitude Modulated Sounds. In: Proceedings of the 28th annual meeting of ISMRM.
[See more](https://www.researchgate.net/publication/343432053_Functional_MRI_of_the_Auditory_Cortex_Comparison_of_Different_Sequences_to_investigate_Speech_and_Amplitude_Modulated_Sounds)

2019
---

Teng, X., & Poeppel, D. (2019). Theta and Gamma Bands Encode Acoustic Dynamics over Wide-ranging Timescales. *Cerebral Cortex*.
[Preprint](https://www.biorxiv.org/content/10.1101/547125v1) | [See more](https://academic.oup.com/cercor/article/30/4/2600/5637582)

Teng, X., Cogan, G. B., & Poeppel, D. (2019). Speech fine structure contains critical temporal cues to support speech segmentation. NeuroImage, 116152.
[Preprint](https://www.sciencedirect.com/science/article/abs/pii/S1053811919307438?via%3Dihub) | [See more](http://doi.org/10.1016/j.neuroimage.2019.116152)

Kong F, Wang X, Teng X, Zheng N, Yu G, Meng Q (2019). Reverberant speech recognition with actual cochlear implants: verifying a pulsatile vocoder simulation method. In: Proceedings of the 23rd International Congress on Acoustics.
[See more](https://www.researchgate.net/publication/339442284_Reverberant_speech_recognition_with_actual_cochlear_implants_verifying_a_pulsatile_vocoder_simulation_method)

Teng, X., Poeppel, D. (2019) Experimental evidence on computational mechanisms of concurrent temporal channels for auditory processing, *Cognitive Computational Neuroscience 2019*.
[See more](https://www.researchgate.net/publication/335434716_Experimental_evidence_on_computational_mechanisms_of_concurrent_temporal_channels_for_auditory_processing)

2018
---

Tian, X., Ding, N., Teng, X., Bai, F., & Poeppel, D. (2018). Imagined speech influences perceived loudness of sound. *Nature Human Behaviour, 2*(3), 225.
[See more](https://www.researchgate.net/publication/323266425_Imagined_speech_influences_perceived_loudness_of_sound)

Teng, X., Sun, Y., & Poeppel, D. (2018). Temporal order judgment reveals local-global auditory processes. *Acta Acustica united with Acustica, 104*(5), 817-820.
[PDF](https://www.researchgate.net/profile/Xiangbin-Teng/publication/328219170_Temporal_Order_Judgment_Reveals_Local-Global_Auditory_Processes/links/5bc0bd3b458515a7a9e3222b/Temporal-Order-Judgment-Reveals-Local-Global-Auditory-Processes.pdf)

Teng, X., Tian, X., Doelling, K., & Poeppel, D. (2018). Theta band oscillations reflect more than entrainment: behavioral and neural evidence demonstrates an active chunking process. *European Journal of Neuroscience, 48*(8), 2770-2782. **- 1/f Modulation Spectra Part 1**
[PDF](https://www.researchgate.net/profile/Xiangbin-Teng/publication/320454937_Theta_band_oscillations_reflect_more_than_entrainment_Behavioral_and_neural_evidence_demonstrates_an_active_chunking_process/links/59ede6494585158fe53411b5/Theta-band-oscillations-reflect-more-than-entrainment-Behavioral-and-neural-evidence-demonstrates-an-active-chunking-process.pdf)

2017
---

Teng, X., Tian, X., Rowland, J., & Poeppel, D. (2017). Concurrent temporal channels for auditory processing: Oscillatory neural entrainment reveals segregation of function at different scales. *PLoS biology, 15*(11), e2000812.
[PDF](https://journals.plos.org/plosbiology/article/file?id=10.1371/journal.pbio.2000812&type=printable)

2016
---

Teng, X., Tian, X., & Poeppel, D. (2016). Testing multi-scale processing in the auditory system. *Scientific reports, 6*, 34390.
[PDF](https://www.nature.com/articles/srep34390.pdf)

2012
---

Wu, M., Li, H., Gao, Y., Lei, M., Teng, X., Wu, X., & Li, L. (2012). Adding irrelevant information to the content prime reduces the prime-induced unmasking effect on speech recognition. *Hearing research, 283*(1-2), 136-143.
[See more](https://www.researchgate.net/publication/51815262_Adding_irrelevant_information_to_the_content_prime_reduces_the_prime-induced_unmasking_effect_on_speech_recognition)

{% endrenderTemplate %}

