---
layout: "page"
title: "Research"
description: "See what's happening."
permalink: "/research/"
eleventyNavigation:
    key: "Research"
    order: 0
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }",
}
---

{% renderTemplate "md" %}

- Speech and music rhythms and segmentation
- Temporal processing and statistical learning
- Neural oscillations
- Neural network models

{% endrenderTemplate %}
