---
layout: "page"
title: "Research"
description: "See what's happening."
permalink: "/research/"
eleventyNavigation:
    key: "Research"
    order: 0
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }",
}
---

{% renderTemplate "md" %}

Speech
---
Our research in speech delves into the fascinating process by which the brain derives discrete meanings from the continuous and linear stream of sounds. Complex speech signals carry perceptual information across various timescales, ranging from phonemes lasting tens of milliseconds to complete sentences lasting several seconds. Our focus lies on the sentential level, where we seek to understand how the brain integrates meanings from smaller timescale units. Additionally, we explore the role of speech prosody in aiding our comprehension of meanings and predicting speech information. Our research has the potential to help address speech and language disorders, such as aphasia, dyslexia, and developmental language disorders, by providing insights into the neural processes involved in speech perception and comprehension.

Teng, X., Ma, M., Yang, J., Blohm, S., Cai, Q., & Tian, X. (2020). Constrained structure of ancient Chinese poetry facilitates speech content grouping. Current Biology, 30(7), 1299-1305.

Music
---
Similar to spoken language, music exhibits a hierarchically organized structure. While many studies concentrate on how the brain tracks or perceives basic musical units like notes and beats, our research delves into a more abstract question: How does the brain establish high-level musical structures in real-time? We explore the brain's mechanisms for integrating notes and beats, which are units of smaller timescales, into cohesive melodies and higher-level musical structures, such as sections and musical phrases. Our investigations not only strive to understand the neural processes behind music perception but also aim to explore its impact on emotional regulation. This exploration may lead to the development of targeted music-based interventions to support mental well-being and address mental health challenges.

Teng, X., Larrouy-Maestri, P., & Poeppel, D. (2021). Segmenting and Predicting Musical Phrase Structure Exploits Neural Gain Modulation and Phase Precession. BioRxiv, 2021-07.

Rhythm
---
Time is organized by rhythms, much like how space is structured by patterns and contours. Both speech (e.g., poetry) and music are abundant with rhythmic elements, unfolding in time rhythmically. Listeners follow these rhythms to perceive and make sense of speech and music. Our research approach revolves around the concept that speech and music contain a limited set of stereotypical rhythmic patterns. We strive to understand how the brain memorizes these rhythms and how this process contributes to our comprehension of speech and music. Moreover, studying the brain's memorization of rhythmic patterns in speech and music can have implications for cognitive rehabilitation in individuals with neurological disorders, such as Parkinson's disease or traumatic brain injuries. By gaining insights into rhythm processing, we may develop rhythm-based therapies to improve motor coordination, speech articulation, and overall cognitive functioning in affected individuals.

Chang, A., Teng, X., Assaneo, F., & Poeppel, D. (2022). Amplitude modulation perceptually distinguishes music and speech. PsyArXiv

Teng, X., & Zhang, R. Y. (2021). Sequential Temporal Anticipation Characterized by Neural Power Modulation and in Recurrent Neural Networks. bioRxiv, 2021-10.

{% endrenderTemplate %}
