---
layout: "page"
title: "Research"
description: "See what's happening."
permalink: "/research/"
eleventyNavigation:
    key: "Research"
    order: 0
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }",
}
---

{% renderTemplate "md" %}

**Teng, X.**, Poeppel, D. Silent Intervals Represented in the Auditory Hierarchy Orthogonally to Tonotopy (fMRI)

**Teng, X.** High-level Musical Structures Modulate Frequency Following Responses

**Teng, X.**, Wang, S., Larrouy-Maestri, P. Predictability and Surprisal from LSTM Trained on Bach Chorales Explains Neural Tracking of Musical Phrasal Structure

Wu, Y.\*, **Teng, X.\***, Du, Y. Repetition and Cultural Difference Modulate Neural Tracking of Musical Phrasal Structure

Chang, C., Poeppel, D., **Teng, X.** Dynamics of Tonal Organization Identified by Representation Similarity Analysis Using MEG

**Teng, X.** Poeppel, D. Carrier Frequency and Bandwidth Modulate Cortical Oscillatory Activities in the Auditory Gamma Band but less in the Theta Band

[View our publications](/publications)

{% endrenderTemplate %}
