---
layout: "page"
title: "Team"
description: "Meet the team at SMRT Lab. "
permalink: "/team/"
eleventyNavigation:
    key: "Team"
    order: 3
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }"
}
---

<div id="blog-grid" class="auto-grid">
{%- for item in collections.members -%}
    <a href="{{ item.url }}" class="card">
        <div class="card-media">
            <img style="clip-path: circle()" alt={{ item.data.title }}
            src="/images/{{ item.data.avatar }}">
        </div>
        <div class="card-content">
            <div>
                <div style="display:inline-block"><h2 class="h5">{{ item.data.title }}</h2></div>
                <div style="display:inline-block; float:right">{{ item.data.subtitle }}</div>
            </div>
            <div>{{ item.data.description }}</div>
        </div>
    </a>
{%- endfor -%}
</div>
