---
layout: "page"
title: "Team"
description: "Meet the team at Teng Lab. "
permalink: "/team/"
eleventyNavigation:
    key: "Team"
    order: 1
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }"
}
---

<div id="blog-grid" class="auto-grid">
{%- for item in collections.members -%}
    <a href="{{ item.url }}" class="card">
        <div class="card-media">
            <img alt={{ item.data.title }}
            src="/images/{{ item.data.avatar }}">
        </div>
        <div class="card-content">
            <h2 class="h5">{{ item.data.title }}</h2>
            <div>{{ item.data.description }}</div>
        </div>
    </a>
{%- endfor -%}
</div>
