---
layout: "page"
title: "Xiangbin Teng"
description: "Teng"
permalink: "/teng/"
eleventyNavigation:
    key: "Teng"
    order: 2
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }",
}
---

{% renderTemplate "md" %}

<p style="text-align:center"><img src="/images/teng.jpg" width="40%"></p>

**Research Interests**

I am fascinated with dynamics across timescales in the brain and in the dynamic world. My research has been focusing on how the brain processes complex temporal sequences, regarding natural stimuli such as spoken language and music that are critical to our daily communication and separate us from other species. I use EEG, MEG, and fMRI, but also constructed neural network models, to understand how the brain constructs abstract structures over seconds to tens of seconds in natural stimuli and in real-world laboratories.

**Education and Work Experience**

|   |   |   |   |   |
|-|-|-|-|-|
|09/2022 - Now|Assistant Professor|The Chinese University of Hong Kong|
|09/2021 - 08/2022|Postdoc researcher|Freie Universität Berlin|
|02/2021 – 08/2021|Postdoc researcher|Max Planck Institute for Human Development|
|03/2017 – 01/2021|Postdoc researcher|Max Planck Institute for Empirical Aesthetics|
|01/2017 – 02/2017|Visiting scholar|New York University Shanghai|
|09/2011 - 01/2017|Ph.D. Psychology|New York University|
|09/2008 - 07/2012|M.S. Psychology|Peking University|
|09/2003 - 07/2007|B.S. Chemistry|Shanghai Jiao Tong University|

{% endrenderTemplate %}
